{# Ink/HomeBundle/Resources/views/Default/index.html.twig #}
{% extends 'InkHomeBundle::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Compte{% endblock %}

{% block home %}{% endblock %}
{% block search %}{% endblock %}
{% block team %}{% endblock %}
{% block account %}class="active"{% endblock %}
{% block body %}



<!--Account-->
<section id="portfolio" class="page-section section appear clearfix secPad">
	<div class="container">
		<!--Left Field-->
		<div class="col-sm-6">
			<div class="heading text-center">
				<!--Heading-->
				<h2>Compte Tatoueur</h2>
			</div>
			<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
				{{ form_widget(form) }}
				<div>
					<input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
				</div>
			</form>
		</div>
	</div>
	<div class="heading text-center">
		<!--Heading-->
		<h2><a href="{{ path('ink_data_home_photopage') }}">Ajouter Galerie/Photo</a></h2>
	</div>
</section>
<section class="secpad white">
	<div class="heading text-center">
		<!--Heading-->
		<h2>Galeries</h2>
	</div>
</section>

{% endblock %}
