{# InkData/HomeBundle/Resources/views/Default/index.html.twig #}
{% extends 'InkHomeBundle::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block home %}class="active"{% endblock %}
{% block search %}{% endblock %}
{% block team %}{% endblock %}
{% block account %}{% endblock %}
{% block body %}


    <!--Skills-->
    <section id="skills" class="secPad white">
    	<div class="container">
            <div class="heading text-center">
                <!-- Heading -->
                <h2>My Skills</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
        </div>
    </section>



   <!--Portfolio-->
    <section id="portfolio" class="page-section section appear clearfix secPad">
        <div class="container">

            <div class="heading text-center">
                <!-- Heading -->
                <h2>Derniers ajouts</h2>
                <p>Découvrez les derniers modèles ajoutés!</p>
            </div>

            <div class="row">
                <nav id="filter" class="col-md-12 text-center">
                    <ul>
                        <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".webdesign">Web Design</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".photography">Photography</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".print">Print</a></li>
                    </ul>
                </nav>
                <div class="col-md-12">
                    <div class="row">
                        <div class="portfolio-items isotopeWrapper clearfix" id="3">

                            <article class="col-sm-4 isotopeItem webdesign">
                                <div class="portfolio-item">
                                    <img src="{{ asset('bundles/inkdata/images/portfolio/img1.jpg') }}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{{ asset('bundles/inkdata/images/portfolio/img1.jpg') }}" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem photography">
                                <div class="portfolio-item">
                                    <img src="{{ asset('bundles/inkdata/images/portfolio/img2.jpg') }}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{{ asset('bundles/inkdata/images/portfolio/img2.jpg') }}" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>


                            <article class="col-sm-4 isotopeItem photography">
                                <div class="portfolio-item">
                                    <img src="{{ asset('bundles/inkdata/images/portfolio/img3.jpg') }}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{{ asset('bundles/inkdata/images/portfolio/img3.jpg') }}" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem print">
                                <div class="portfolio-item">
                                    <img src="{{ asset('bundles/inkdata/images/portfolio/img4.jpg') }}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{{ asset('bundles/inkdata/images/portfolio/img4.jpg') }}" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem photography">
                                <div class="portfolio-item">
                                    <img src="{{ asset('bundles/inkdata/images/portfolio/img5.jpg') }}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{{ asset('bundles/inkdata/images/portfolio/img5.jpg') }}" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem webdesign">
                                <div class="portfolio-item">
                                    <img src="{{ asset('bundles/inkdata/images/portfolio/img6.jpg') }}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{{ asset('bundles/inkdata/images/portfolio/img6.jpg') }}" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem print">
                                <div class="portfolio-item">
                                    <img src="{{ asset('bundles/inkdata/images/portfolio/img7.jpg') }}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{{ asset('bundles/inkdata/images/portfolio/img7.jpg') }}" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem photography">
                                <div class="portfolio-item">
                                    <img src="{{ asset('bundles/inkdata/images/portfolio/img8.jpg') }}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{{ asset('bundles/inkdata/images/portfolio/img8.jpg') }}" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-4 isotopeItem print">
                                <div class="portfolio-item">
                                    <img src="{{ asset('bundles/inkdata/images/portfolio/img9.jpg') }}" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="{{ asset('bundles/inkdata/images/portfolio/img9.jpg') }}" class="fancybox">
                                                <h5>Project Name</h5>
                                                <i class="fa fa-arrows-alt fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </section>

{% endblock %}
