{# InkData/HomeBundle/Resources/views/Default/index.html.twig #}
{% extends 'InkHomeBundle::base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block home %}{% endblock %}
{% block search %}class="active"{% endblock %}
{% block team %}{% endblock %}
{% block account %}{% endblock %}
{% block body %}


<section id="portfolio" class="page-section section appear clearfix secPad">
  <div class="container">
    <div class="heading text-center">
      <h2>Recherche</h2>

    </div>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.description) }}

      <div class="col-sm-6 col-sm-offset-3">
        {# Génération de l'input. #}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

      <div class="col-sm-6 col-sm-offset-3">
        {# Génération de l'input. #}
        {{ form_widget(form.type, {'attr': {'class': ' radio-search'}}) }}
      </div>

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
  </div>
</div>
</section>

{% endblock %}
